// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
}
.container{
  background: rgb(45,66,100);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}